<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/categories']">
        Quaero Assignment
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" [routerLink]="['/categories']">
              Home
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <div *ngIf="isLoggedIn; else unLoggedItem">
            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Welcome {{loggedUser}}!
              </div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div (click)="logout()" class="dropdown-item" style="margin: 0px;">
                  Logout
                </div>
              </div>
            </li>
          </div>
          <ng-template #unLoggedItem>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">
                Sign in
              </a>
            </li>

          </ng-template>

        </ul>
      </div>
    </div>
  </nav>
</div>
